//META{"name":"MEGUMIN","description":"A simple EXPLOSION","author":"squirrel","version":"1.1"}*//

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url(http://allfont.net/allfont.css?fonts=agency-fb);
@import url(http://allfont.net/allfont.css?fonts=agency-fb-bold);
@import url("https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css");

:root {
  --themeColor1: #f700ff;
  --themeColor2: #0abab5;

  --homeImage: url('https://media1.tenor.com/images/90d6ece71198f8f87db0dd9189748a25/tenor.gif');
  --homeImageSize: cover;


  --backgroundColor: #0d0d0d;
  --backgroundImage: url('https://images8.alphacoders.com/792/792744.png');
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 3px;
  --backgroundOpacity: .75

  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);

  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
}
