/**
* @name MEGUMIN
* @description A simple EXPLOSION
* @author bylat
* @version 1.1.0
*/

@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url(http://allfont.net/allfont.css?fonts=agency-fb);
@import url(http://allfont.net/allfont.css?fonts=agency-fb-bold);
@import url("https://discordstyles.github.io/HorizontalServerList/base.css");


:root {
  --themeColor1: #f700ff;
  --themeColor2: #0abab5;

  --homeImage: url('https://media1.tenor.com/images/90d6ece71198f8f87db0dd9189748a25/tenor.gif');
  --homeImageSize: cover;


  --backgroundColor: #0d0d0d;
  --backgroundImage: url('https://images8.alphacoders.com/792/792744.png');
  --backgroundPosition: center;
  --backgroundSize: cover;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 3px;
  --backgroundOpacity: .75

  --backgroundCode: rgba(0,0,0,.5);
  --backgroundName: rgba(0,0,0,.5);

  --HSL-server-icon-size: 40px;
  --HSL-server-spacing: 10px;  
  --cfix-opacity: .9;
}

.base-3dtUhz .sidebar-2K8pFh {
    background-color: rgba(00,00,00,var(--cfix-opacity));
}

.sidebar-2K8pFh .container-3w7J-x {
    background-color: transparent;
}

.sidebar-2K8pFh .clickable-25tGDB .header-2V-4Sw:hover,
.sidebar-2K8pFh .selected-31Nl7x .header-2V-4Sw {
    background-color: rgba(0,0,0,calc(var(--cfix-opacity)/2));
}

.wrapper-3NnKdC,
.wrapper-3NnKdC .scroller-1Bvpku,
.folder-1hbNCn, 
.expandedFolderBackground-1cujaW {background-color:transparent!important}
